@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Syne:wght@400..800&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #222222; /* Neutral */
  --color-primary: #6A0FAD;
  --color-secondary: #4CAF50;
  --color-tertiary: #FF751F;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);
  --font-sans: "DM Sans", sans-serif;
  --font-headline: "Syne", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111; /* Dark Neutral */
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headline);
}
